@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Roboto&display=swap');
*{
     font-family: "Noto Sans Thai", serif;
}
body{
     background: #F8FAFC;
}
.nav{
     background: #24a6fd;
     position: fixed;
     top: 0;
     left: 0;
}
.logo{
     height: 4vh;
}
.shadow-box{
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.table-container {
     max-height: 75vh;
     height: 75vh;
     overflow-y: auto;
     overflow-x: auto;
     border-radius: 1%;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 .title{
     font-size: 2rem;
 }
.login-box{
     padding: 50px 30px 70px 30px;
     border-radius: 5%;
     background: #d2e6fd;
     /* -webkit-backdrop-filter: blur(5px);
     backdrop-filter: blur(5px); */
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer{
     position: fixed;
     bottom: 0;
     left: 0;
     height: 40px;
     width: 100%;
     box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}